html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background: #050505;
  overflow: hidden;
  font-family: Orbitron, Arial, sans-serif;
}

/* Super Cambio */

#saludo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.neon-text {
    color: #fff;
    font-size: 3em;
    text-shadow:
        0 0 7px #0ff,
        0 0 10px #0ff,
        0 0 21px #0ff,
        0 0 42px #0ff,
        0 0 82px #0ff;
    animation: flicker 2s infinite alternate;
}

@keyframes flicker {
    0%, 100% { opacity: 1; text-shadow: 0 0 40px #0ff, 0 0 70px #ff00de; }
    50% { opacity: 0.85; text-shadow: 0 0 30px #00ffe7, 0 0 50px #ff00de; }
}

.neon-message {
    color: #fff;
    font-size: 1.5em;
    text-shadow:
        0 0 10px #06ffb2,
        0 0 20px #06ffb2,
        0 0 25px #06ffb2,
        0 0 40px #ff00de;
    margin-bottom: 30px;
    margin-top: 20px;
}

.neon-button {
    padding: 14px 32px;
    font-size: 1.2em;
    color: #fff;
    background: none;
    border: 2px solid #0ff;
    border-radius: 10px;
    box-shadow:
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 30px #ff00de,
        0 0 40px #0ff;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.neon-button:hover {
    box-shadow:
        0 0 20px #ff00de,
        0 0 35px #0ff,
        0 0 60px #ff00de;
    border-color: #ff00de;
}
.mensaje-rojo {
  background: linear-gradient(90deg, #ff2a2a 0%, #ff6262 50%, #ff2a2a 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Puedes añadir un glow si lo deseas: */
  text-shadow: 0 0 8px #ff4d4d;
  transition: background 0.4s;
}


/* From Uiverse.io by whoisyourdeadie */ 

.matrix-container {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

.matrix-column {
  position: absolute;
  top: -100%;
  width: 25px;
  height: 100vh;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  animation: fall linear infinite;
}
#userName {
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #0ff;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  outline: none;
  font-family: Orbitron, Arial, sans-serif;
}
.matrix-column.red::before {
  background: linear-gradient(to bottom, #ff0000 0%, #ff0000 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.matrix-column::before {
  content: "アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲンABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 5%,
    #00ff41 10%,
    #00ff41 20%,
    #00dd33 30%,
    #00bb22 40%,
    #009911 50%,
    #007700 60%,
    #005500 70%,
    #003300 80%,
    rgba(0, 255, 65, 0.5) 90%,
    transparent 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-lr;
}

.matrix-column:nth-child(1) {
  left: 0px;
  animation-delay: -2.5s;
  animation-duration: 3s;
}
.matrix-column:nth-child(2) {
  left: 25px;
  animation-delay: -3.2s;
  animation-duration: 4s;
}
.matrix-column:nth-child(3) {
  left: 50px;
  animation-delay: -1.8s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(4) {
  left: 75px;
  animation-delay: -2.9s;
  animation-duration: 3.5s;
}
.matrix-column:nth-child(5) {
  left: 100px;
  animation-delay: -1.5s;
  animation-duration: 3s;
}
.matrix-column:nth-child(6) {
  left: 125px;
  animation-delay: -3.8s;
  animation-duration: 4.5s;
}
.matrix-column:nth-child(7) {
  left: 150px;
  animation-delay: -2.1s;
  animation-duration: 2.8s;
}
.matrix-column:nth-child(8) {
  left: 175px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(9) {
  left: 200px;
  animation-delay: -3.4s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(10) {
  left: 225px;
  animation-delay: -1.9s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(11) {
  left: 250px;
  animation-delay: -3.6s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(12) {
  left: 275px;
  animation-delay: -2.3s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(13) {
  left: 300px;
  animation-delay: -3.1s;
  animation-duration: 3.6s;
}
.matrix-column:nth-child(14) {
  left: 325px;
  animation-delay: -2.6s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(15) {
  left: 350px;
  animation-delay: -3.7s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(16) {
  left: 375px;
  animation-delay: -2.8s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(17) {
  left: 400px;
  animation-delay: -3.3s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(18) {
  left: 425px;
  animation-delay: -2.2s;
  animation-duration: 2.6s;
}
.matrix-column:nth-child(19) {
  left: 450px;
  animation-delay: -3.9s;
  animation-duration: 4.3s;
}
.matrix-column:nth-child(20) {
  left: 475px;
  animation-delay: -2.4s;
  animation-duration: 3.4s;
}
.matrix-column:nth-child(21) {
  left: 500px;
  animation-delay: -1.7s;
  animation-duration: 2.4s;
}
.matrix-column:nth-child(22) {
  left: 525px;
  animation-delay: -3.5s;
  animation-duration: 3.9s;
}
.matrix-column:nth-child(23) {
  left: 550px;
  animation-delay: -2s;
  animation-duration: 3s;
}
.matrix-column:nth-child(24) {
  left: 575px;
  animation-delay: -4s;
  animation-duration: 4.4s;
}
.matrix-column:nth-child(25) {
  left: 600px;
  animation-delay: -1.6s;
  animation-duration: 2.3s;
}
.matrix-column:nth-child(26) {
  left: 625px;
  animation-delay: -3s;
  animation-duration: 3.5s;
}
.matrix-column:nth-child(27) {
  left: 650px;
  animation-delay: -3.8s;
  animation-duration: 4s;
}
.matrix-column:nth-child(28) {
  left: 675px;
  animation-delay: -2.5s;
  animation-duration: 2.8s;
}
.matrix-column:nth-child(29) {
  left: 700px;
  animation-delay: -3.2s;
  animation-duration: 3.6s;
}
.matrix-column:nth-child(30) {
  left: 725px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(31) {
  left: 750px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(32) {
  left: 775px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(33) {
  left: 800px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(34) {
  left: 825px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(35) {
  left: 850px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(36) {
  left: 875px;
  animation-delay: -3.7s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(37) {
  left: 900px;
  animation-delay: -2.3s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(38) {
  left: 925px;
  animation-delay: -1.9s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(39) {
  left: 950px;
  animation-delay: -3.5s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(40) {
  left: 975px;
  animation-delay: -2.6s;
  animation-duration: 3.4s;
}
.matrix-column:nth-child(41) {
  left: 1000px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(42) {
  left: 1025px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(43) {
  left: 1050px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(44) {
  left: 1075px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(45) {
  left: 1100px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(46) {
  left: 1125px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(47) {
  left: 1150px;
  animation-delay: -3.7s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(48) {
  left: 1175px;
  animation-delay: -2.3s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(49) {
  left: 1200px;
  animation-delay: -1.9s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(50) {
  left: 1225px;
  animation-delay: -3.5s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(51) {
  left: 1250px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(52) {
  left: 1275px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(53) {
  left: 1300px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(54) {
  left: 1325px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(55) {
  left: 1350px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(56) {
  left: 1375px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(57) {
  left: 1400px;
  animation-delay: -3.7s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(58) {
  left: 1450px;
  animation-delay: -2.3s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(59) {
  left: 1475px;
  animation-delay: -1.9s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(60) {
  left: 1500px;
  animation-delay: -3.5s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(61) {
  left: 1525px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(62) {
  left: 1550px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(63) {
  left: 1575px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(64) {
  left: 1600px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(65) {
  left: 1625px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(66) {
  left: 1650px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(67) {
  left: 1675px;
  animation-delay: -3.7s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(68) {
  left: 1700px;
  animation-delay: -2.3s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(69) {
  left: 1725px;
  animation-delay: -1.9s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(70) {
  left: 1750px;
  animation-delay: -3.5s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(71) {
  left: 1775px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(72) {
  left: 1800px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(73) {
  left: 1825px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(74) {
  left: 1850px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(75) {
  left: 1875px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(76) {
  left: 1900px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}

.matrix-column:nth-child(odd)::before {
  content: "アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲン123456789";
}

.matrix-column:nth-child(even)::before {
  content: "ガギグゲゴザジズゼゾダヂヅデドバビブベボパピプペポヴァィゥェォャュョッABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

.matrix-column:nth-child(3n)::before {
  content: "アカサタナハマヤラワイキシチニヒミリウクスツヌフムユルエケセテネヘメレオコソトノホモヨロヲン0987654321";
}

.matrix-column:nth-child(4n)::before {
  content: "ンヲロヨモホノトソコオレメヘネテセケエルユムフヌツスクウリミヒニチシキイワラヤマハナタサカア";
}

.matrix-column:nth-child(5n)::before {
  content: "ガザダバパギジヂビピグズヅブプゲゼデベペゴゾドボポヴァィゥェォャュョッ!@#$%^&*()_+-=[]{}|;:,.<>?";
}

@keyframes fall {
  0%   { transform: translateY(-5%); opacity: 1;}
  100% { transform: translateY(100%); opacity: 0;}
}

@media (max-width: 1920px) {
  .matrix-column {
    font-size: 14px;
    line-height: 16px;
    width: 25px;
  }
}

@media (max-width: 780px) {
  .matrix-column {
    font-size: 12px;
    line-height: 14px;
    width: 20px;
  }
}